<p id="notice"><%= notice %></p>

<% if logged_in? %>
<h2>投稿一覧</h2>
  <table>
    <thead>
      <tr>
        <th>投稿者</th>
        <th>画像</th>
        <th>タイトル</th>
        <th>内容</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @feeds.each do |feed| %>
        <tr>
          <td>
            <a><%= link_to "#{feed.user.name}", user_path(feed.user_id) %></a>
          </td>
          <td><%= image_tag feed.image.url %></td>
          <td><%= feed.title %></td>
          <td><%= feed.content %></td>
          <td><%= link_to '詳細画面', feed %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
    <p><%= link_to '新規投稿へ', new_feed_path %></P>

<% else %>
  <h3>InstagramClone画像投稿サービスです！！</h3>
  <h3>ログインして、画像を投稿したり、他の人が投稿した画像を見てみよう！！</h3>
<% end %>
