<h4><%= @user.name %>さんの登録内容は次のとおりです</h4>
<p>メールアドレス：<%= @user.email %></p>
<p><%= @user.name %>さんのイメージ画像</p>
<p><%= image_tag @user.image.url %></p>


<% if logged_in? %>
  <p><%= link_to '一覧へ', feeds_path %></p>
  <p><%= link_to '新規投稿へ', new_feed_path %></p>
<% end %>
